* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* FULL PAGE CENTER */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f9;
}

/* IMAGE CONTAINER */
.image-container {
  position: relative;
  width: 1000px;
  height: 550px;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

/* BACKGROUND IMAGE */
.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM ON IMAGE */
.form-overlay {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
}

/* CARD */
.card {
  width: 380px;
  background: rgba(255, 255, 255, 0.97);
  padding: 34px 34px;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
  max-height: 72vh;
  overflow-y: auto;
}


/* LOGO */
.logo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 16px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

/* HEADINGS */
.card h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}
/* COMPANY NAME */
.company-name {
  text-align: center;
  margin-bottom: 18px;
}

.web {
  color: #046798;
  font-weight: bold;
}

.flash {
  color: #ff6600;
  font-weight: bold;
}

.solution {
  color: #555;
}

/* INPUTS */
.input-box {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5f5;
  padding: 12px 14px;
  border-radius: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
  background: #f8fafc;
}

.input-box input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 15px;
}

.input-box svg {
  margin-right: 10px;
}

.input-box span {
  cursor: pointer;
}

/* SELECT */
select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
  margin-bottom: 16px;
  background: #f8fafc;
}

/* UPLOAD */
.upload-box {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px dashed #2563eb;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 12px;
  color: #2563eb;
}

/* BUTTON */
button {
  width: 100%;
  padding: 14px;
  background: linear-gradient(135deg, #61da5d, #1e69af);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(37, 99, 235, 0.4);
}

/* TEXT LINKS */
.toggle1 {
  text-align: center;
  margin-top: 4px;
  font-size: 12px;
}
.toggle {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 1px;
  font-size: 12px;
}
.toggle span {
  color: #2563eb;
  font-weight: 600;
  cursor: pointer;
}

.forgot {
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}


